{% extends "template.html" %}

{% block content %}

<h1>About Flask</h1>
<p> Flask is a micro web framework written in Python.</p>
<p>Applications that use the Flask framework include Pinterest, LinkedIn, and the community web page for Flask
    itself.</p>

{% endblock %}