<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">First Web App</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('index')}}">Home</a></li>
                        <li><a href="{{ url_for('about')}}">About</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>